@import url('https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono');

body {
  font-family: 'Ubuntu', 'IBM Plex Sans', 'Helvetica', sans-serif;
}

h1, h2, h3 {
  font-family: 'Ubuntu Mono', 'IBM Plex Mono', monospace;
}

.pageTitleWithDefaultLogo {
  background-image: url('https://pi.dnomaid.co.uk/_img/emby/tomsemby.png') !important;
  transform: scale(2);
  background-position: 35%;
}
